<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DND.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DND.Properties.Settings>
            <setting name="Strength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Agility" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Acrobatics" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SleightOfHand" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stealth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intellect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Magic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Religion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Investigation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Technology" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Medicine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wisdom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Perception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Insight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Survival" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TreatmentOfAnimals" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Charisma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deception" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intimidation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speech" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Persuasion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Race" serializeAs="String">
                <value />
            </setting>
            <setting name="Level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Class" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelTree1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LevelTree2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LevelTree3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Backpack" serializeAs="String">
                <value />
            </setting>
            <setting name="BackpackNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Copper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Serebrenic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Golden" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Health" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
        </DND.Properties.Settings>
    </userSettings>
</configuration>